# Python
__pycache__/
*.py[cod]
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints/
# *.ipynb 

# Virtual environment
venv/
env/
.venv

# IDE
.vscode/
.idea/

# Data
data/raw/
# *.csv
# *.xlsx

# OS metadata
.DS_Store
Thumbs.db